/*-------------- BODY ---------------*/
body {
	background-color: #EEEEEE;
}
/*-------------- END BODY ---------------*/
/*-------------- BAGIAN NAVBAR ---------------*/
.navbar-default {
	background-color: #09e1c0 !important;
}
.navbar {
	border-radius: 0px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #2DBEA8;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #09e1c0;
}
/*-------------- AKHIR BAGIAN NAVBAR ---------------*/

/*-------------- BAGIAN JUMBOTRON ---------------*/
.jumbotron {
	border-radius: 0px !important;
}
.landing{
	min-height: 400px;
	background-image: linear-gradient(180deg,#0085c6 0%,#b2ccf4 100%) !important;
	color: #FFFFFF;
}

.cs > img{
	max-height: 400px; 
	float: right;
}


.layanan{
	min-height: 400px;
	background-image: url('../img/list_kategori.png');
	color: #FFFFFF;
}

.jadwal{
	min-height: 400px;
	background-image: url('../img/agenda.jpg');
	color: #FFFFFF;
}
.layanan .logo_dinas{
	margin: 0 auto;
}
.layanan > .container,
.landing > .container,
.jadwal > .container {
	padding-top: 50px;
}
/*-------------- AKHIR BAGIAN JUMBOTRON ---------------*/

/*-------------- BAGIAN LAYANAN LANDING ---------------*/
.heading_service{
	font-weight: bold; 
	color: #017ACE;
}
.divier_heading{
	width: 50px;
	height: 5px;
	background-color: #09e1c0;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*-------------- AKHIR BAGIAN LAYANAN LANDING ---------------*/

/*-------------- CUSTOM BUTTON ---------------*/
.btn-custom-green { 
  color: #ffffff; 
  background-color: #09E1C0; 
  border-color: #09E1C0; 
  border-radius: 20px;
} 
 
.btn-custom-green:hover, 
.btn-custom-green:focus, 
.btn-custom-green:active, 
.btn-custom-green.active, 
.open .dropdown-toggle.btn-custom-green { 
  color: #ffffff; 
  background-color: #25C7AF; 
  border-color: #09E1C0; 
} 
 
.btn-custom-green:active, 
.btn-custom-green.active, 
.open .dropdown-toggle.btn-custom-green { 
  background-image: none; 
} 
 
.btn-custom-green.disabled, 
.btn-custom-green[disabled], 
fieldset[disabled] .btn-custom-green, 
.btn-custom-green.disabled:hover, 
.btn-custom-green[disabled]:hover, 
fieldset[disabled] .btn-custom-green:hover, 
.btn-custom-green.disabled:focus, 
.btn-custom-green[disabled]:focus, 
fieldset[disabled] .btn-custom-green:focus, 
.btn-custom-green.disabled:active, 
.btn-custom-green[disabled]:active, 
fieldset[disabled] .btn-custom-green:active, 
.btn-custom-green.disabled.active, 
.btn-custom-green[disabled].active, 
fieldset[disabled] .btn-custom-green.active { 
  background-color: #09E1C0; 
  border-color: #09E1C0; 
} 
 
.btn-custom-blue .badge { 
  color: #0282DC; 
  background-color: #ffffff; 
}

.btn-custom-blue { 
  color: #ffffff; 
  background-color: #0282DC; 
  border-color: #0282DC; 
  border-radius: 30px;
} 
 
.btn-custom-blue:hover, 
.btn-custom-blue:focus, 
.btn-custom-blue:active, 
.btn-custom-blue.active, 
.open .dropdown-toggle.btn-custom-blue { 
  color: #ffffff; 
  background-color: #034AA2; 
  border-color: #0282DC; 
} 
 
.btn-custom-blue:active, 
.btn-custom-blue.active, 
.open .dropdown-toggle.btn-custom-blue { 
  background-image: none; 
} 
 
.btn-custom-blue.disabled, 
.btn-custom-blue[disabled], 
fieldset[disabled] .btn-custom-blue, 
.btn-custom-blue.disabled:hover, 
.btn-custom-blue[disabled]:hover, 
fieldset[disabled] .btn-custom-blue:hover, 
.btn-custom-blue.disabled:focus, 
.btn-custom-blue[disabled]:focus, 
fieldset[disabled] .btn-custom-blue:focus, 
.btn-custom-blue.disabled:active, 
.btn-custom-blue[disabled]:active, 
fieldset[disabled] .btn-custom-blue:active, 
.btn-custom-blue.disabled.active, 
.btn-custom-blue[disabled].active, 
fieldset[disabled] .btn-custom-blue.active { 
  background-color: #0282DC; 
  border-color: #0282DC; 
} 
 
.btn-custom-blue .badge { 
  color: #0282DC; 
  background-color: #ffffff; 
}
/*-------------- AKHIR CUSTOM BUTTON ---------------*/

/*-------------- PREFIX PADDING MARGIN ---------------*/
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
/*-------------- AKHIR PREFIX PADDING MARGIN ---------------*/

/*-------------- CONTAINER LIST DINAS ---------------*/
.landing_dinas_list{
	background-color: #FFFFFF;
	-webkit-box-shadow: 1px 1px 46px -10px rgba(138,138,138,1);
	-moz-box-shadow: 1px 1px 46px -10px rgba(138,138,138,1);
	box-shadow: 1px 1px 46px -10px rgba(138,138,138,1);
	padding: 20px;
	height: auto;
}
.landing_dinas_list  .media {
	margin: 10px;
}
/*-------------- AKHIR CONTAINER LIST DINAS ---------------*/

/*-------------- LANDING 2 ---------------*/
.landing2_bg{
	background-blend-mode: overlay;
	background-color: initial !important;
	background-image: linear-gradient(180deg,#0085c6 0%,#9271f6 100%) !important;
	color: #FFFFFF;
	padding: 50px;
}

/*-------------- AKHIR LANDING 2 ---------------*/

/*-------------- MEDIA JADWAL ---------------*/
.container_shadow{
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 48px -18px rgba(161,161,161,1);
	-moz-box-shadow: 0px 0px 48px -18px rgba(161,161,161,1);
	box-shadow: 0px 0px 48px -18px rgba(161,161,161,1);
	padding: 20px;
	height: auto;
	margin: 10px;
}
/*-------------- AKHIR MEDIA JADWAL ---------------*/

/*-------------- THUMBNAIL CUSTOM ---------------*/
.thumbnail{
	border-top: 3px solid #34A8F9;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding-top: 20px;
	-webkit-box-shadow: 0px 0px 18px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px -11px rgba(0,0,0,0.75);
}
/*-------------- AKHIR THUMBNAIL CUSTOM ---------------*/

/*-------------- PANEL BODY CUSTOM ---------------*/
.panel_custom{
	border-top: 3px solid #34A8F9;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-box-shadow: 0px 0px 18px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px -11px rgba(0,0,0,0.75);
}
/*-------------- AKHIR PANEL BODY CUSTOM ---------------*/

/*-------------- FOOTER ---------------*/
.footer_landing{
	background-color: #09E1C0;
	color: #FFFFFF;
	padding: 20px;
}
.footer_landing a{
	color: #FFFFFF;
	text-decoration: none;
}
/*-------------- AKHIR FOOTER ---------------*/